.button {
    background-color: var(--button-background);
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

.button:hover {
    text-decoration: underline;
}
